
body{
	background-color:#CAB45A;
}

div.container{
	width: 980px;
	min-height: 500px;
	margin:0 auto;
	padding:20px;
}


div.container > div.border{
	width: 370px;
	min-height: 370px;
	margin:0 auto;
	padding:10px;
	background-color:#444;
	border:3px solid #FF0;
}

div.container > div.border > div.inner-border{
	width: 360px;
	min-height: 360px;
	margin:0 auto;
	position:relative;
	background-color:#333;
	border:3px solid #FF0;
}

div.container > div.border > div.inner-border div.pixel{
	width: 22.5px;
	height: 22.5px; 
	position:absolute;
	top:135px;
	left:135px;
	margin:0;
	background-image:url(images/1.jpg);
}

div.container div.nav{
	width:490px;
	height:70px;
	margin:20px 0 0 250px;
}

div.container div.nav div.btn{
	width:55px;
	height:50px;
	line-height:50px;
	text-align:center;
	cursor:pointer;
	font-family:Futura, "Century Gothic", AppleGothic, sans-serif;
	font-size:15px;
	font-weight:bold;
	letter-spacing:-1px;
	color:#444;
	margin-left:17px;
	float:left;
	border:2px solid #960;
	border-radius:22px;
	background-color:#FC3;
}

div.container div.nav div.btn:hover{
	background-color:#Fe5;
}

div.container p.footer{
	width:100%;
	left:0;
	position:absolute;
	bottom:15px;
	color:#666;
	text-align:center;
	line-height:14px;
	font-family:sans-serif;
	font-size:8pt;
}

div.container p.footer > a{
	text-decoration:none;
	color:#1D26FF;
}

div.container p.footer > a:hover{
	text-decoration:underline;
}
